﻿      .omt_header {
            font-size: 24px;
            font-weight: bold;
        }

        .omt_tinhtrang_dangcho {
            border: 1px solid #808080;
            padding: 10px 20px;
            margin: 20px;
            text-align: center;
            background-color: #808080;
            color: white;
        }

        .omt_tinhtrang_danghoatdong {
            border: 1px solid #4CAF50;
            padding: 10px 20px;
            margin: 20px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
        }

        .omt_tinhtrang_dangbikhoa {
            border: 1px solid #d9534f;
            padding: 10px 20px;
            margin: 20px;
            text-align: center;
            background-color: #d9534f;
            color: white;
        }

        .omt_content {
            background-color: #dfe1e6;
            height: auto;
            padding: 5px;
             margin-left:10px;
        }

        /*.col-4:nth-child(2) .omt_content {
            background-color: gold;
        }*/

        /*.col-4:nth-child(3) .omt_content {
            background-color: green;
        }*/

        .omt_Title {
            padding: 15px;
            font-size: 14px;
            font-weight: bold;
        }

        .omt_themmoi {
            padding-left: 15px;
            text-decoration: none;
            font-weight: 500;
        }

        .omt_content_chitiet {
            background-color: white;
            margin: 10px;
            padding: 10px;
           
        }

        .omt_trangthai {
            margin-left: 10px;
            margin-bottom: 20px;
            border: 1px solid #808080;
            width: 26%;
            height: 8px;
            background-color: #4CAF50;
        }

        .omt_hienthicontent {
            margin-left: 10px;
            padding-bottom: 10px;
            color: black;
            font-weight: bold;
        }

        .omt_popup {
            margin-left: 10px;
        }

        .block_content input {
            margin: 5px;
        }

        .omt_textbox {
            margin-left: 10px;
        }

        .popup_title {
            margin-bottom: 10px;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

            .popup_title input {
                border: none;
                background-color: #eeeeee;
                width: 95%;
                padding: 5px;
                border-radius: 5px;
            }

        .popup-content {
            margin-top: 15px;
        }

        .popup-mota {
            margin-top: 80px;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

            .popup-mota input {
                width: 88%;
                padding: 0.5rem 0.75rem;
                font-size: 1rem;
                line-height: 1.25;
                color: #55595c;
                background-color: #fff;
                background-image: none;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 0.25rem;
            }

            .popup-mota a {
                color: #ffffff;
                background-color: #52BCD3;
                border-color: #52BCD3;
                padding: 10px;
            }

        .popup-binhluan {
            margin-top: 15px;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

            .popup-binhluan textarea {
                width: 100%;
                padding: 0.5rem 0.75rem;
                font-size: 1rem;
                line-height: 1.25;
                color: #55595c;
                background-color: #fff;
                background-image: none;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 0.25rem;
            }

        .popup-tepdinhkem {
            margin-top: 15px;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

        .popup-traodoi {
            margin-top: 15px;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

        .popup-comment-ketqua {
            margin-top: 20px;
            margin-left: 45px;
        }
        /*.tab-thanhvien{
            background-color:#52BCD3;
            width:100%;
            border:none
        }*/
        .card-header {
            background-color: #52BCD3;
            width: 100%;
            border: none;
        }

        .tab-thanhvien a {
            text-decoration: none;
        }

            .tab-thanhvien a:hover .card-header {
                background-color: #52BCD3;
            }

        a.tab-thanhvien {
            text-decoration: none;
        }

            a.tab-thanhvien:hover {
                text-decoration: none;
            }

        #accordion .card .card-header:hover {
            background-color: gold;
            cursor: pointer;
        }

        .list-group .list-group-item {
            border-radius: 0;
            cursor: move;
        }

            .list-group .list-group-item:hover {
                background-color: #f7f7f7;
            }