﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin_MasterPage.master" AutoEventWireup="true" CodeFile="admin_omt_NhapThoiKhoaBieuGiaoVien.aspx.cs" Inherits="admin_page_module_function_module_OMT_omt_GiaoVien_admin_omt_NhapThoiKhoaBieuGiaoVien" %>

<asp:Content ID="Content1" ContentPlaceHolderID="headlink" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="hihead" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="himenu" runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="hibodyhead" runat="Server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="hibodywrapper" runat="Server">
   
            <div id="dvThoiKhoaBieu" runat="server">
        <div style="font-size: 20PX; font-weight: bold; text-align: center">Thời khóa biểu</div>
        <hr />
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <table class="table table-bordered" style="background-color: white;width:90%">
                <thead>
                    <tr class="head_table">
                        <%-- <th class="table_header" scope="col">Buổi</th>--%>
                        <th scope="col">Tiết</th>
                        <th scope="col">Thứ 2</th>
                        <th scope="col">Thứ 3</th>
                        <th scope="col">Thứ 4</th>
                        <th scope="col">Thứ 5</th>
                        <th scope="col">Thứ 6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tiet" style="text-align: center">
                            1</td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet1_Thu2" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet1_Thu3" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet1_Thu4" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet1_Thu5" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet1_Thu6" runat="server" /></td>
                    </tr>
                    <tr>
                        <td class="tiet" style="text-align: center">
                            2</td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet2_Thu2" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet2_Thu3" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet2_Thu4" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet2_Thu5" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet2_Thu6" runat="server" /></td>
                    </tr>
                    <tr>
                        <td class="tiet" style="text-align: center">
                            3</td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet3_Thu2" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet3_Thu3" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet3_Thu4" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet3_Thu5" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet3_Thu6" runat="server" /></td>
                    </tr>
                    <tr>
                        <td class="tiet" style="text-align: center">
                            4</td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet4_Thu2" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet4_Thu3" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet4_Thu4" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet4_Thu5" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet4_Thu6" runat="server" /></td>
                    </tr>
                    <tr>
                        <td class="tiet" style="text-align: center">
                           5</td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet5_Thu2" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet5_Thu3" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet5_Thu4" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet5_Thu5" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet5_Thu6" runat="server" /></td>
                    </tr>
                    <tr>
                        <td class="tiet" style="text-align: center">
                            6</td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet6_Thu2" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet6_Thu3" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet6_Thu4" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet6_Thu5" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet6_Thu6" runat="server" /></td>
                    </tr>
                    <tr>
                        <td class="tiet" style="text-align: center">
                           7</td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet7_Thu2" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet7_Thu3" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet7_Thu4" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet7_Thu5" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet7_Thu6" runat="server" /></td>
                    </tr>
                    <tr>
                        <td class="tiet" style="text-align: center">
                           8</td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet8_Thu2" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet8_Thu3" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet8_Thu4" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet8_Thu5" runat="server" /></td>
                        <td class="tiet" style="text-align: center">
                            <input id="txtTiet8_Thu6" runat="server" /></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a href="#" id="btnLuu" runat="server" class="btn btn-primary" onserverclick="btnLuu_ServerClick">Lưu</a>
            </div>
        </div>
    </div>
   
    
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="hibodybottom" runat="Server">
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="hifooter" runat="Server">
</asp:Content>
<asp:Content ID="Content8" ContentPlaceHolderID="hifootersite" runat="Server">
</asp:Content>

