﻿.form-print {
    display: block;
    margin: 0 auto;
    height: 450px;
    width: 795px;
    background: white;
}

    .form-print .box_left {
        width: 320px;
        height: 100%;
        float: left;
        border-right: 2px dotted black;
    }

    .form-print .box_right {
        float: left;
        width: 475px;
        height: 100%;
    }

.title_header {
    font-weight: bold;
    text-align: center;
}

.ten_truong {
    font-size: 18px;
}

.ten_phieuthu {
    font-size: 20px;
}

.content_body {
    padding-left: 5px;
}

.date__create {
    float: right;
    padding-right: 10px;
}

.form_kyten {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight:bold;
}
