﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin_MasterPage.master" AutoEventWireup="true" CodeFile="gvcn_TrangChu_Đonxinnghi.aspx.cs" Inherits="admin_page_module_function_module_OMT_gvcn_TrangChu_Đonxinnghi" %>

<asp:Content ID="Content1" ContentPlaceHolderID="headlink" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="hihead" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="himenu" runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="hibodyhead" runat="Server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="hibodywrapper" runat="Server">
    <div class="table_notification">
        <div class="omt-header">
            <i class="fa fa-user omt__icon" aria-hidden="true"></i>
            <h4 class="header-title">Đơn xin nghỉ</h4>
        </div>
        <div class="row">
            <div class="btn_check_datetime">
                <input type="date" name="name" value="#" class="btn_datetime_điemdanh col-md-2" />
                <input type="date" name="name" value="#" class="btn_datetime_điemdanh col-md-2" />
                <input type="text" name="name" class="txt_search_code col-md-2" />
                <button class="btn_file col-md-1">
                    <i class="fa fa-list omt__icon2" aria-hidden="true"></i>
                </button>
                <button class="btn_themhs col-md-2">+ THÊM MỚI ĐƠN XIN NGHỈ</button>
            </div>
        </div>
        <div class="table_text2">
        </div>
            <table id="customers">
                <tr>
                    <th></th>
                    <th>Từ ngày</th>
                    <th>Đến ngày</th>
                    <th>Học sinh</th>
                    <th>Mã HS</th>
                    <th>Lớp</th>
                    <th>Thông tin xin nghỉ</th>
                    <th>Lý do</th>
                    <th>Lý do phê duyệt</th>
                </tr>

                <tr class="table_text4">
                    <td colspan="12">
                        <div class="tb_txt_note">Không có thông báo</div>
                    </td>
                </tr>
            </table>
        </div>

</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="hibodybottom" runat="Server">
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="hifooter" runat="Server">
</asp:Content>
<asp:Content ID="Content8" ContentPlaceHolderID="hifootersite" runat="Server">
</asp:Content>

