﻿.background {
    padding: 40px;
    background-color: #c0392b;
}

table {
    margin-bottom: 0 !important;
    text-align: center;
    background-color: white !important;
}

.table thead th {
    vertical-align: middle;
}

.table_day {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.table_header {
    text-align: center;
}

.tiet {
    display: flex;
    flex-direction: column;
}

.table td {
    vertical-align: middle;
}

@media (max-width: 767px) {
    .background {
        padding: 0;
    }
}
