﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin_MasterPage.master" AutoEventWireup="true" CodeFile="admin_ThoiKhoaBieu_Tiet8.aspx.cs" Inherits="admin_page_module_function_module_ThoiKhoaBieu_module_TKB_Tiet8_admin_ThoiKhoaBieu_Tiet8" %>

<asp:Content ID="Content1" ContentPlaceHolderID="headlink" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="hihead" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="himenu" runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="hibodyhead" runat="Server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="hibodywrapper" runat="Server">
    <div style="float: right">
        <a href="/admin-home" class="btn btn-primary">Quay lại</a>
    </div>
    <div style="font-size: 20PX; font-weight: bold; text-align: center">THỜI KHÓA BIỂU TIẾT 8</div>
    <hr />
    <div>
        <img style="width: 100%; height: 600px;" src="../../../../admin_images/tbk__images/tkbtiet8_ngay29_3.png" />
    </div>
    <div>
        <img style="width: 55%; height: 400px;" src="../../../../admin_images/tbk__images/TKBTiet8_GV.png" />
    </div>
    <br />
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="hibodybottom" runat="Server">
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="hifooter" runat="Server">
</asp:Content>
<asp:Content ID="Content8" ContentPlaceHolderID="hifootersite" runat="Server">
</asp:Content>

